[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocs-ezlinked-plugin = "*"
mkdocs-awesome-pages-plugin = "*"
mdx-breakless-lists = "*"
mkdocs-preview-links-plugin = "*"
mkdocs-embed-file-plugins = "*"
mkdocs-custom-fences = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-encryptcontent-plugin = "*"
mkdocs-callouts = "*"
mkdocs-custom-tags-attributes = "*"
mkdocs-meta-descriptions-plugin = "*"
obsidiantools = "*"
pyvis = "*"
cairosvg = "*"
pillow = "*"
mkdocs-glightbox = "*"
mkdocs-minify-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"
