.mocha {
	--ctp-rosewater: var(--ctp-mocha-rosewater);
	--ctp-rosewater-rgb: var(--ctp-mocha-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-mocha-rosewater-hsl);
	--ctp-flamingo: var(--ctp-mocha-flamingo);
	--ctp-flamingo-rgb: var(--ctp-mocha-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-mocha-flamingo-hsl);
	--ctp-pink: var(--ctp-mocha-pink);
	--ctp-pink-rgb: var(--ctp-mocha-pink-rgb);
	--ctp-pink-hsl: var(--ctp-mocha-pink-hsl);
	--ctp-mauve: var(--ctp-mocha-mauve);
	--ctp-mauve-rgb: var(--ctp-mocha-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-mocha-mauve-hsl);
	--ctp-red: var(--ctp-mocha-red);
	--ctp-red-rgb: var(--ctp-mocha-red-rgb);
	--ctp-red-hsl: var(--ctp-mocha-red-hsl);
	--ctp-maroon: var(--ctp-mocha-maroon);
	--ctp-maroon-rgb: var(--ctp-mocha-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-mocha-maroon-hsl);
	--ctp-peach: var(--ctp-mocha-peach);
	--ctp-peach-rgb: var(--ctp-mocha-peach-rgb);
	--ctp-peach-hsl: var(--ctp-mocha-peach-hsl);
	--ctp-yellow: var(--ctp-mocha-yellow);
	--ctp-yellow-rgb: var(--ctp-mocha-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-mocha-yellow-hsl);
	--ctp-green: var(--ctp-mocha-green);
	--ctp-green-rgb: var(--ctp-mocha-green-rgb);
	--ctp-green-hsl: var(--ctp-mocha-green-hsl);
	--ctp-teal: var(--ctp-mocha-teal);
	--ctp-teal-rgb: var(--ctp-mocha-teal-rgb);
	--ctp-teal-hsl: var(--ctp-mocha-teal-hsl);
	--ctp-sky: var(--ctp-mocha-sky);
	--ctp-sky-rgb: var(--ctp-mocha-sky-rgb);
	--ctp-sky-hsl: var(--ctp-mocha-sky-hsl);
	--ctp-sapphire: var(--ctp-mocha-sapphire);
	--ctp-sapphire-rgb: var(--ctp-mocha-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-mocha-sapphire-hsl);
	--ctp-blue: var(--ctp-mocha-blue);
	--ctp-blue-rgb: var(--ctp-mocha-blue-rgb);
	--ctp-blue-hsl: var(--ctp-mocha-blue-hsl);
	--ctp-lavender: var(--ctp-mocha-lavender);
	--ctp-lavender-rgb: var(--ctp-mocha-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-mocha-lavender-hsl);
	--ctp-text: var(--ctp-mocha-text);
	--ctp-text-rgb: var(--ctp-mocha-text-rgb);
	--ctp-text-hsl: var(--ctp-mocha-text-hsl);
	--ctp-subtext1: var(--ctp-mocha-subtext1);
	--ctp-subtext1-rgb: var(--ctp-mocha-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-mocha-subtext1-hsl);
	--ctp-subtext0: var(--ctp-mocha-subtext0);
	--ctp-subtext0-rgb: var(--ctp-mocha-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-mocha-subtext0-hsl);
	--ctp-overlay2: var(--ctp-mocha-overlay2);
	--ctp-overlay2-rgb: var(--ctp-mocha-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-mocha-overlay2-hsl);
	--ctp-overlay1: var(--ctp-mocha-overlay1);
	--ctp-overlay1-rgb: var(--ctp-mocha-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-mocha-overlay1-hsl);
	--ctp-overlay0: var(--ctp-mocha-overlay0);
	--ctp-overlay0-rgb: var(--ctp-mocha-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-mocha-overlay0-hsl);
	--ctp-surface2: var(--ctp-mocha-surface2);
	--ctp-surface2-rgb: var(--ctp-mocha-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-mocha-surface2-hsl);
	--ctp-surface1: var(--ctp-mocha-surface1);
	--ctp-surface1-rgb: var(--ctp-mocha-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-mocha-surface1-hsl);
	--ctp-surface0: var(--ctp-mocha-surface0);
	--ctp-surface0-rgb: var(--ctp-mocha-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-mocha-surface0-hsl);
	--ctp-base: var(--ctp-mocha-base);
	--ctp-base-rgb: var(--ctp-mocha-base-rgb);
	--ctp-base-hsl: var(--ctp-mocha-base-hsl);
	--ctp-mantle: var(--ctp-mocha-mantle);
	--ctp-mantle-rgb: var(--ctp-mocha-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-mocha-mantle-hsl);
	--ctp-crust: var(--ctp-mocha-crust);
	--ctp-crust-rgb: var(--ctp-mocha-crust-rgb);
	--ctp-crust-hsl: var(--ctp-mocha-crust-hsl);
}

.macchiato {
	--ctp-rosewater: var(--ctp-macchiato-rosewater);
	--ctp-rosewater-rgb: var(--ctp-macchiato-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-macchiato-rosewater-hsl);
	--ctp-flamingo: var(--ctp-macchiato-flamingo);
	--ctp-flamingo-rgb: var(--ctp-macchiato-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-macchiato-flamingo-hsl);
	--ctp-pink: var(--ctp-macchiato-pink);
	--ctp-pink-rgb: var(--ctp-macchiato-pink-rgb);
	--ctp-pink-hsl: var(--ctp-macchiato-pink-hsl);
	--ctp-mauve: var(--ctp-macchiato-mauve);
	--ctp-mauve-rgb: var(--ctp-macchiato-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-macchiato-mauve-hsl);
	--ctp-red: var(--ctp-macchiato-red);
	--ctp-red-rgb: var(--ctp-macchiato-red-rgb);
	--ctp-red-hsl: var(--ctp-macchiato-red-hsl);
	--ctp-maroon: var(--ctp-macchiato-maroon);
	--ctp-maroon-rgb: var(--ctp-macchiato-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-macchiato-maroon-hsl);
	--ctp-peach: var(--ctp-macchiato-peach);
	--ctp-peach-rgb: var(--ctp-macchiato-peach-rgb);
	--ctp-peach-hsl: var(--ctp-macchiato-peach-hsl);
	--ctp-yellow: var(--ctp-macchiato-yellow);
	--ctp-yellow-rgb: var(--ctp-macchiato-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-macchiato-yellow-hsl);
	--ctp-green: var(--ctp-macchiato-green);
	--ctp-green-rgb: var(--ctp-macchiato-green-rgb);
	--ctp-green-hsl: var(--ctp-macchiato-green-hsl);
	--ctp-teal: var(--ctp-macchiato-teal);
	--ctp-teal-rgb: var(--ctp-macchiato-teal-rgb);
	--ctp-teal-hsl: var(--ctp-macchiato-teal-hsl);
	--ctp-sky: var(--ctp-macchiato-sky);
	--ctp-sky-rgb: var(--ctp-macchiato-sky-rgb);
	--ctp-sky-hsl: var(--ctp-macchiato-sky-hsl);
	--ctp-sapphire: var(--ctp-macchiato-sapphire);
	--ctp-sapphire-rgb: var(--ctp-macchiato-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-macchiato-sapphire-hsl);
	--ctp-blue: var(--ctp-macchiato-blue);
	--ctp-blue-rgb: var(--ctp-macchiato-blue-rgb);
	--ctp-blue-hsl: var(--ctp-macchiato-blue-hsl);
	--ctp-lavender: var(--ctp-macchiato-lavender);
	--ctp-lavender-rgb: var(--ctp-macchiato-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-macchiato-lavender-hsl);
	--ctp-text: var(--ctp-macchiato-text);
	--ctp-text-rgb: var(--ctp-macchiato-text-rgb);
	--ctp-text-hsl: var(--ctp-macchiato-text-hsl);
	--ctp-subtext1: var(--ctp-macchiato-subtext1);
	--ctp-subtext1-rgb: var(--ctp-macchiato-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-macchiato-subtext1-hsl);
	--ctp-subtext0: var(--ctp-macchiato-subtext0);
	--ctp-subtext0-rgb: var(--ctp-macchiato-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-macchiato-subtext0-hsl);
	--ctp-overlay2: var(--ctp-macchiato-overlay2);
	--ctp-overlay2-rgb: var(--ctp-macchiato-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-macchiato-overlay2-hsl);
	--ctp-overlay1: var(--ctp-macchiato-overlay1);
	--ctp-overlay1-rgb: var(--ctp-macchiato-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-macchiato-overlay1-hsl);
	--ctp-overlay0: var(--ctp-macchiato-overlay0);
	--ctp-overlay0-rgb: var(--ctp-macchiato-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-macchiato-overlay0-hsl);
	--ctp-surface2: var(--ctp-macchiato-surface2);
	--ctp-surface2-rgb: var(--ctp-macchiato-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-macchiato-surface2-hsl);
	--ctp-surface1: var(--ctp-macchiato-surface1);
	--ctp-surface1-rgb: var(--ctp-macchiato-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-macchiato-surface1-hsl);
	--ctp-surface0: var(--ctp-macchiato-surface0);
	--ctp-surface0-rgb: var(--ctp-macchiato-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-macchiato-surface0-hsl);
	--ctp-base: var(--ctp-macchiato-base);
	--ctp-base-rgb: var(--ctp-macchiato-base-rgb);
	--ctp-base-hsl: var(--ctp-macchiato-base-hsl);
	--ctp-mantle: var(--ctp-macchiato-mantle);
	--ctp-mantle-rgb: var(--ctp-macchiato-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-macchiato-mantle-hsl);
	--ctp-crust: var(--ctp-macchiato-crust);
	--ctp-crust-rgb: var(--ctp-macchiato-crust-rgb);
	--ctp-crust-hsl: var(--ctp-macchiato-crust-hsl);
}

.frappe {
	--ctp-rosewater: var(--ctp-frappe-rosewater);
	--ctp-rosewater-rgb: var(--ctp-frappe-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-frappe-rosewater-hsl);
	--ctp-flamingo: var(--ctp-frappe-flamingo);
	--ctp-flamingo-rgb: var(--ctp-frappe-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-frappe-flamingo-hsl);
	--ctp-pink: var(--ctp-frappe-pink);
	--ctp-pink-rgb: var(--ctp-frappe-pink-rgb);
	--ctp-pink-hsl: var(--ctp-frappe-pink-hsl);
	--ctp-mauve: var(--ctp-frappe-mauve);
	--ctp-mauve-rgb: var(--ctp-frappe-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-frappe-mauve-hsl);
	--ctp-red: var(--ctp-frappe-red);
	--ctp-red-rgb: var(--ctp-frappe-red-rgb);
	--ctp-red-hsl: var(--ctp-frappe-red-hsl);
	--ctp-maroon: var(--ctp-frappe-maroon);
	--ctp-maroon-rgb: var(--ctp-frappe-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-frappe-maroon-hsl);
	--ctp-peach: var(--ctp-frappe-peach);
	--ctp-peach-rgb: var(--ctp-frappe-peach-rgb);
	--ctp-peach-hsl: var(--ctp-frappe-peach-hsl);
	--ctp-yellow: var(--ctp-frappe-yellow);
	--ctp-yellow-rgb: var(--ctp-frappe-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-frappe-yellow-hsl);
	--ctp-green: var(--ctp-frappe-green);
	--ctp-green-rgb: var(--ctp-frappe-green-rgb);
	--ctp-green-hsl: var(--ctp-frappe-green-hsl);
	--ctp-teal: var(--ctp-frappe-teal);
	--ctp-teal-rgb: var(--ctp-frappe-teal-rgb);
	--ctp-teal-hsl: var(--ctp-frappe-teal-hsl);
	--ctp-sky: var(--ctp-frappe-sky);
	--ctp-sky-rgb: var(--ctp-frappe-sky-rgb);
	--ctp-sky-hsl: var(--ctp-frappe-sky-hsl);
	--ctp-sapphire: var(--ctp-frappe-sapphire);
	--ctp-sapphire-rgb: var(--ctp-frappe-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-frappe-sapphire-hsl);
	--ctp-blue: var(--ctp-frappe-blue);
	--ctp-blue-rgb: var(--ctp-frappe-blue-rgb);
	--ctp-blue-hsl: var(--ctp-frappe-blue-hsl);
	--ctp-lavender: var(--ctp-frappe-lavender);
	--ctp-lavender-rgb: var(--ctp-frappe-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-frappe-lavender-hsl);
	--ctp-text: var(--ctp-frappe-text);
	--ctp-text-rgb: var(--ctp-frappe-text-rgb);
	--ctp-text-hsl: var(--ctp-frappe-text-hsl);
	--ctp-subtext1: var(--ctp-frappe-subtext1);
	--ctp-subtext1-rgb: var(--ctp-frappe-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-frappe-subtext1-hsl);
	--ctp-subtext0: var(--ctp-frappe-subtext0);
	--ctp-subtext0-rgb: var(--ctp-frappe-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-frappe-subtext0-hsl);
	--ctp-overlay2: var(--ctp-frappe-overlay2);
	--ctp-overlay2-rgb: var(--ctp-frappe-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-frappe-overlay2-hsl);
	--ctp-overlay1: var(--ctp-frappe-overlay1);
	--ctp-overlay1-rgb: var(--ctp-frappe-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-frappe-overlay1-hsl);
	--ctp-overlay0: var(--ctp-frappe-overlay0);
	--ctp-overlay0-rgb: var(--ctp-frappe-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-frappe-overlay0-hsl);
	--ctp-surface2: var(--ctp-frappe-surface2);
	--ctp-surface2-rgb: var(--ctp-frappe-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-frappe-surface2-hsl);
	--ctp-surface1: var(--ctp-frappe-surface1);
	--ctp-surface1-rgb: var(--ctp-frappe-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-frappe-surface1-hsl);
	--ctp-surface0: var(--ctp-frappe-surface0);
	--ctp-surface0-rgb: var(--ctp-frappe-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-frappe-surface0-hsl);
	--ctp-base: var(--ctp-frappe-base);
	--ctp-base-rgb: var(--ctp-frappe-base-rgb);
	--ctp-base-hsl: var(--ctp-frappe-base-hsl);
	--ctp-mantle: var(--ctp-frappe-mantle);
	--ctp-mantle-rgb: var(--ctp-frappe-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-frappe-mantle-hsl);
	--ctp-crust: var(--ctp-frappe-crust);
	--ctp-crust-rgb: var(--ctp-frappe-crust-rgb);
	--ctp-crust-hsl: var(--ctp-frappe-crust-hsl);
}

.latte {
	--ctp-rosewater: var(--ctp-latte-rosewater);
	--ctp-rosewater-rgb: var(--ctp-latte-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-latte-rosewater-hsl);
	--ctp-flamingo: var(--ctp-latte-flamingo);
	--ctp-flamingo-rgb: var(--ctp-latte-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-latte-flamingo-hsl);
	--ctp-pink: var(--ctp-latte-pink);
	--ctp-pink-rgb: var(--ctp-latte-pink-rgb);
	--ctp-pink-hsl: var(--ctp-latte-pink-hsl);
	--ctp-mauve: var(--ctp-latte-mauve);
	--ctp-mauve-rgb: var(--ctp-latte-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-latte-mauve-hsl);
	--ctp-red: var(--ctp-latte-red);
	--ctp-red-rgb: var(--ctp-latte-red-rgb);
	--ctp-red-hsl: var(--ctp-latte-red-hsl);
	--ctp-maroon: var(--ctp-latte-maroon);
	--ctp-maroon-rgb: var(--ctp-latte-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-latte-maroon-hsl);
	--ctp-peach: var(--ctp-latte-peach);
	--ctp-peach-rgb: var(--ctp-latte-peach-rgb);
	--ctp-peach-hsl: var(--ctp-latte-peach-hsl);
	--ctp-yellow: var(--ctp-latte-yellow);
	--ctp-yellow-rgb: var(--ctp-latte-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-latte-yellow-hsl);
	--ctp-green: var(--ctp-latte-green);
	--ctp-green-rgb: var(--ctp-latte-green-rgb);
	--ctp-green-hsl: var(--ctp-latte-green-hsl);
	--ctp-teal: var(--ctp-latte-teal);
	--ctp-teal-rgb: var(--ctp-latte-teal-rgb);
	--ctp-teal-hsl: var(--ctp-latte-teal-hsl);
	--ctp-sky: var(--ctp-latte-sky);
	--ctp-sky-rgb: var(--ctp-latte-sky-rgb);
	--ctp-sky-hsl: var(--ctp-latte-sky-hsl);
	--ctp-sapphire: var(--ctp-latte-sapphire);
	--ctp-sapphire-rgb: var(--ctp-latte-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-latte-sapphire-hsl);
	--ctp-blue: var(--ctp-latte-blue);
	--ctp-blue-rgb: var(--ctp-latte-blue-rgb);
	--ctp-blue-hsl: var(--ctp-latte-blue-hsl);
	--ctp-lavender: var(--ctp-latte-lavender);
	--ctp-lavender-rgb: var(--ctp-latte-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-latte-lavender-hsl);
	--ctp-text: var(--ctp-latte-text);
	--ctp-text-rgb: var(--ctp-latte-text-rgb);
	--ctp-text-hsl: var(--ctp-latte-text-hsl);
	--ctp-subtext1: var(--ctp-latte-subtext1);
	--ctp-subtext1-rgb: var(--ctp-latte-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-latte-subtext1-hsl);
	--ctp-subtext0: var(--ctp-latte-subtext0);
	--ctp-subtext0-rgb: var(--ctp-latte-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-latte-subtext0-hsl);
	--ctp-overlay2: var(--ctp-latte-overlay2);
	--ctp-overlay2-rgb: var(--ctp-latte-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-latte-overlay2-hsl);
	--ctp-overlay1: var(--ctp-latte-overlay1);
	--ctp-overlay1-rgb: var(--ctp-latte-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-latte-overlay1-hsl);
	--ctp-overlay0: var(--ctp-latte-overlay0);
	--ctp-overlay0-rgb: var(--ctp-latte-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-latte-overlay0-hsl);
	--ctp-surface2: var(--ctp-latte-surface2);
	--ctp-surface2-rgb: var(--ctp-latte-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-latte-surface2-hsl);
	--ctp-surface1: var(--ctp-latte-surface1);
	--ctp-surface1-rgb: var(--ctp-latte-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-latte-surface1-hsl);
	--ctp-surface0: var(--ctp-latte-surface0);
	--ctp-surface0-rgb: var(--ctp-latte-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-latte-surface0-hsl);
	--ctp-base: var(--ctp-latte-base);
	--ctp-base-rgb: var(--ctp-latte-base-rgb);
	--ctp-base-hsl: var(--ctp-latte-base-hsl);
	--ctp-mantle: var(--ctp-latte-mantle);
	--ctp-mantle-rgb: var(--ctp-latte-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-latte-mantle-hsl);
	--ctp-crust: var(--ctp-latte-crust);
	--ctp-crust-rgb: var(--ctp-latte-crust-rgb);
	--ctp-crust-hsl: var(--ctp-latte-crust-hsl);
}

.mocha,
.macchiato,
.frappe,
.latte {
	--bg: var(--ctp-base);
	--fg: var(--ctp-text);
	--sidebar-bg: var(--ctp-mantle);
	--sidebar-fg: var(--ctp-text);
	--sidebar-non-existant: var(--ctp-overlay0);
	--sidebar-active: var(--ctp-base);
	--sidebar-spacer: var(--ctp-overlay0);
	--scrollbar: var(--ctp-overlay0);
	--icons: var(--ctp-overlay0);
	--icons-hover: var(--ctp-overlay1);
	--links: var(--ctp-base);
	--inline-code-color: var(--ctp-peach);
	--theme-popup-bg: var(--ctp-mantle);
	--theme-popup-border: var(--ctp-overlay0);
	--theme-hover: var(--ctp-overlay0);
	--quote-bg: var(--ctp-mantle);
	--quote-border: var(--ctp-crust);
	--table-border-color: var(--ctp-crust);
	--table-header-bg: var(--ctp-mantle);
	--table-alternate-bg: var(--ctp-mantle);
	--searchbar-border-color: var(--ctp-crust);
	--searchbar-bg: var(--ctp-mantle);
	--searchbar-fg: var(--ctp-text);
	--searchbar-shadow-color: var(--ctp-crust);
	--searchresults-header-fg: var(--ctp-text);
	--searchresults-border-color: var(--ctp-crust);
	--searchresults-li-bg: var(--ctp-base);
	--search-mark-bg: var(--ctp-peach);

	&.hljs {
		color: var(--ctp-text);
		background: var(--ctp-base);
	}

	& .hljs-keyword {
		color: var(--ctp-mauve);
	}

	& .hljs-built_in {
		color: var(--ctp-red);
	}

	& .hljs-type {
		color: var(--ctp-yellow);
	}

	& .hljs-literal {
		color: var(--ctp-peach);
	}

	& .hljs-number {
		color: var(--ctp-peach);
	}

	& .hljs-operator {
		color: var(--ctp-teal);
	}

	& .hljs-punctuation {
		color: var(--ctp-subtext1);
	}

	& .hljs-property {
		color: var(--ctp-teal);
	}

	& .hljs-regexp {
		color: var(--ctp-pink);
	}

	& .hljs-string {
		color: var(--ctp-green);
	}

	& .hljs-char.escape_ {
		color: var(--ctp-green);
	}

	& .hljs-subst {
		color: var(--ctp-subtext0);
	}

	& .hljs-symbol {
		color: var(--ctp-flamingo);
	}

	& .hljs-variable {
		color: var(--ctp-mauve);
	}

	& .hljs-variable.language_ {
		color: var(--ctp-mauve);
	}

	& .hljs-variable.constant_ {
		color: var(--ctp-peach);
	}

	& .hljs-title {
		color: var(--ctp-blue);
	}

	& .hljs-title.class_ {
		color: var(--ctp-yellow);
	}

	& .hljs-title.function_ {
		color: var(--ctp-blue);
	}

	& .hljs-params {
		color: var(--ctp-text);
	}

	& .hljs-comment {
		color: var(--ctp-surface2);
	}

	& .hljs-doctag {
		color: var(--ctp-red);
	}

	& .hljs-meta {
		color: var(--ctp-peach);
	}

	& .hljs-section {
		color: var(--ctp-blue);
	}

	& .hljs-tag {
		color: var(--ctp-subtext0);
	}

	& .hljs-name {
		color: var(--ctp-mauve);
	}

	& .hljs-attr {
		color: var(--ctp-blue);
	}

	& .hljs-attribute {
		color: var(--ctp-green);
	}

	& .hljs-bullet {
		color: var(--ctp-teal);
	}

	& .hljs-code {
		color: var(--ctp-green);
	}

	& .hljs-emphasis {
		color: var(--ctp-red);
		font-style: italic;
	}

	& .hljs-strong {
		color: var(--ctp-red);
		font-weight: bold;
	}

	& .hljs-formula {
		color: var(--ctp-teal);
	}

	& .hljs-link {
		color: var(--ctp-sapphire);
		font-style: italic;
	}

	& .hljs-quote {
		color: var(--ctp-green);
		font-style: italic;
	}

	& .hljs-selector-tag {
		color: var(--ctp-yellow);
	}

	& .hljs-selector-id {
		color: var(--ctp-blue);
	}

	& .hljs-selector-class {
		color: var(--ctp-teal);
	}

	& .hljs-selector-attr {
		color: var(--ctp-mauve);
	}

	& .hljs-selector-pseudo {
		color: var(--ctp-teal);
	}

	& .hljs-template-tag {
		color: var(--ctp-flamingo);
	}

	& .hljs-template-variable {
		color: var(--ctp-flamingo);
	}

	& .hljs-addition {
		color: var(--ctp-green);
		background: rgba(var(--ctp-green-rgb) 0.15);
	}

	& .hljs-deletion {
		color: var(--ctp-red);
		background: rgba(var(--ctp-red-rgb), 0.15);
	}

	& code {
		color: var(--ctp-text);
		background: var(--ctp-mantle);
	}

	& blockquote blockquote {
		border-top: 0.1em solid var(--ctp-surface2);
		border-bottom: 0.1em solid var(--ctp-surface2);
	}

	& hr {
		color: var(--ctp-surface2);
	}

	& del {
		color: var(--ctp-overlay2);
	}

	& .ace_gutter {
		color: var(--ctp-overlay1);
		background: var(--ctp-mantle);
	}

	& .ace_gutter-active-line.ace_gutter-cell {
		color: var(--ctp-pink);
		background: var(--ctp-mantle);
	}
}